.area-chart {
  width: var(--forecast-constant-width);
}

.chart-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap-reverse;
}

.chart-buttons button {
  flex-grow: 1;
}
