:root {
  --forecast-constant-width: 400px;
}

.forecast-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.forecast-hero {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px;
  border-radius: 8px;
  width: var(--forecast-constant-width);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.forecast-hero-top {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.forecast-hero-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.forecast-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-self: flex-end;
}

.forecast-bottom-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  right: -50px;
}

.forecast-bottom-right img {
  width: 300px;
}

.weather-details {
  width: var(--forecast-constant-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-details .detail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  opacity: 0.25;
}

.weather-details .detail-icon img {
  width: 24px;
  height: 24px;
}

.weather-details .detail-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-details .detail {
  border-bottom: 1px solid var(--gray-700);
  padding: 16px 0px 16px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-details .detail:last-child {
  border-bottom: none;
}

.wetaher-details .detail-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-days {
  width: var(--forecast-constant-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
}

.next-days .day-name {
  color: var(--gray-200);
}

.next-days .day-current {
  color: var(--gray-100);
}

.next-days .day-min {
  color: var(--gray-400);
}

.next-days .day-icon img {
  width: 56px;
  height: 56px;
}
