.next-days {
  width: var(--forecast-constant-width);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
}

.next-days .day {
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
}

.next-days .day:hover .day-name {
  color: var(--blue-light);
}

.next-days .day:hover {
  transform: scale(1.1);
}

.next-days .day-name {
  color: var(--gray-200);
  transition: all 0.1s ease;
}

.next-days .day-current {
  color: var(--gray-100);
}

.next-days .day-min {
  color: var(--gray-400);
}

.next-days .day-icon img {
  width: 56px;
  height: 56px;
}
