.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.logo img {
  width: 186px;
  height: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.welcome-message label {
  color: var(--blue-light);
}

.welcome-message p {
  color: var(--gray-200);
}

.welcome-message h4 {
  margin-bottom: 4px;
}

.search-section {
  margin-top: 32px;
}

.search-section input {
  width: 311px;
  height: 56px;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  background-color: var(--input-background);
  border: none;
  color: var(--gray-400);
  caret-color: var(--blue-light);
  font-size: var(--text-md-size);
  line-height: var(--text-md-line-height);
  transition: all 0.25s ease;
}

.search-section input:focus {
  color: var(--white);
  outline: none;
}

.search-section input::placeholder {
  color: var(--gray-400);
}

.locations-wrapper {
  margin-top: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.4);
}

.location:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.location:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.location {
  cursor: pointer;
  width: 311px;
  padding: 16px 20px 16px 20px;
  border-bottom: 1px solid #1e1e29;
  background-color: var(--gray-500);
}

.fade-in {
  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
