.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.welcome-message label {
  color: var(--blue-light);
}

.welcome-message p {
  color: var(--gray-200);
}

.welcome-message h4 {
  margin-bottom: 4px;
}
