.custom-button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.btn-outline {
  color: var(--gray-300);
  border: 1px solid var(--gray-500);
  background-color: transparent;
}

.btn-outline:hover {
  background-color: var(--gray-500);
}

.btn {
  border: 1px solid var(--gray-500);
  background-color: var(--gray-500);
  color: var(--gray-300);
}

.btn:hover {
  background-color: transparent;
}
