.saved-locations {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  transition: all 0.1s ease;
  user-select: none;
}

.saved-locations-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--gray-700);
  width: 50px;
  height: 50px;
  transition: all 0.1s ease;
}

.saved-locations p {
  color: var(--gray-200);
}

.saved-locations:hover p {
  color: var(--blue-light);
}

.saved-locations:hover {
  transform: scale(1.1);
}
