.save-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--gray-800);
  width: 40px;
  height: 40px;
  transition: all 0.1s ease;
}

.save-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
