body,
html {
  min-height: 100dvh;
  margin: 0;
  color: var(--white);
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.logo img {
  width: 186px;
  height: 32px;
}
